.blog {
    padding: 80px 0;
    flex-direction: column;
    margin-bottom: 60px;
}

.blog .title {
    color: var(--gasred);
    position: relative;
    right: 25vw;
    margin-bottom: 8px;
}

.blog .divider {
    width: 60vw;
    height: 2px;
    background: var(--gasblue);
    position: relative;
    right: 4vw;
    margin-bottom: 60px;
    border-radius: 50%;
}
.cardsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin: 0 5vw;
}

.cardsContainer .card {
    width: 100%;
    height: 75vh;
    overflow: hidden;
    box-shadow: 0 0 15px var(--shadow);
    position: relative;
}

.cardsContainer .card img {
    width: 100%;
    height: 35vh;
    object-fit: cover;
    object-position: center;
}

.cardsContainer .card .cardInfo {
    flex-direction: column;
    gap: 8px;
    padding: 28px;
}

.cardsContainer .card .cardInfo h2 {
    font-size: 28px;
    transition: all .5s;
}

.cardsContainer .card .cardInfo h2:hover {
    color: var(--gasred);
    cursor: pointer;
}

.cardsContainer .card .cardInfo p {
    color: var(--grey);
}

.cardsContainer .card .actions {
    position: absolute;
    bottom: 20px;
    gap: 10px;
    border-top: 1px solid var(--gassilver);
    width: 100%;
    padding-top: 18px;
    margin-top: 60px;
}

.cardsContainer .card .actions p {
    color: var(--gassilver);
}

@media (max-width: 1280px) {
    .cardsContainer .card {
        height: 100vh;
    }

    
    .blog .divider {
        width: 70vw;
    }
}

@media (max-width: 890px) {
    .cardsContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .cardsContainer .card {
        height: 80vh;
    }

    .blog .divider {
        width: 70vw;
    }
}

@media (max-width: 790px) {
    .cardsContainer .card {
        height: 95vh;
    }
}

@media (max-width: 400px) {
    .blog .title {
        font-size: 24px;
        right: 0;
    }

    .blog .divider {
        right: 0;
    }

    .cardsContainer {
        grid-template-columns: repeat(1, 1fr);
    }

    .cardsContainer .card {
        height: 110vh;
    }
}