.navbar {
    position: absolute;
    width: 100vw;
    height: 70vh;
    padding: 32px 40px;
    background: linear-gradient(black 30%, rgba(0,0,0,0));
    justify-content: flex end;
    align-items: start !important;
}

.navbar ul {
    gap: 32px;
    z-index: 5;
}

.navbar ul li {
    list-style: none;
}

@media (max-width: 400px) {
    .navbar {
        flex-direction: column;
        height: 10vh;
        padding-top: 90px;
        justify-content: center !important;
        align-items: center !important;
    }
}